<form [formGroup] = "scheduleForms">

  <mat-form-field class="full-width">
    <mat-label>Номер группы</mat-label>
    <input matInput placeholder="Номер группы состоит из 3-х цифр. Например: 121" formControlName="group" required>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-radio-group class="full-width radio-group" formControlName="parityWeek">
    <mat-radio-button class="radio-button" *ngFor="let e of parity" [value]="e.value">
      {{e.valueView}}
    </mat-radio-button>
  </mat-radio-group>

  <button type="submit"
          mat-raised-button
          color="primary" 
          (click) = "loadSchedule()" 
          [disabled]="!scheduleForms.valid">
    Загрузить расписание
  </button>
    
</form>

<hr>

<mat-progress-bar *ngIf="!isScheduleLoaded" mode="indeterminate"></mat-progress-bar>

<ng-container *ngIf="isScheduleLoaded && schedule">
  <div *ngFor="let dailySchedule of schedule.weekSchedule">
    <section class="mat-typography">
      <h1>{{dailySchedule.day}}</h1>
    </section>
    <table mat-table [dataSource]="dailySchedule.lessons" class="mat-elevation-z8">

      <!-- Колонка номера пары -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let e; let i = index"> {{i + 1}} </td>
      </ng-container>

      <!-- Колонка времени -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Время</th>
        <td mat-cell *matCellDef="let e"> {{e.time}} </td>
      </ng-container>
      
      <!-- Колонка пар -->
      <ng-container matColumnDef="lessonName">
        <th mat-header-cell *matHeaderCellDef>Пара</th>
        <td mat-cell *matCellDef="let e"> {{e.lessonName}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['number', 'time', 'lessonName']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['number', 'time', 'lessonName'];"></tr>
    </table>
    <br><br>
  </div>
</ng-container>