<mat-toolbar color='primary'>
  <span class="title-center">Вход в систему</span>
</mat-toolbar>
<h2 mat-dialog-title></h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-dialog-content>
        <mat-form-field class="full-width">
          <mat-label>Почта</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Пароль</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Отмена</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isRequesting">Войти</button>
    </mat-dialog-actions>
</form>

<mat-dialog-actions *ngIf="isRequesting">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>   
</mat-dialog-actions>

<mat-dialog-actions *ngIf="errors">
  <div *ngFor="let error of errors">
    {{error}}
  </div>
</mat-dialog-actions>
  