.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}
  
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.not-active {
  pointer-events: none;
  opacity: 0.5;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }