<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" opened class="sidenav" fixedInViewport="false">

    <mat-nav-list>

      <a mat-list-item href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
      <mat-divider></mat-divider>

      <div>
        <a mat-list-item href="#" routerLink="/schedule" routerLinkActive="active">Домашняя</a>
        <a mat-list-item href="#" routerLink="/schedule/group" routerLinkActive="active">На неделю</a>
        <a mat-list-item href="#" routerLink="/schedule/groupDay" routerLinkActive="active">На день</a>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="isRoleMatch('student')">
        <a mat-list-item href="#" routerLink="/dashboard" routerLinkActive="active">Информация о студенте</a>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="isRoleMatch('api_access_admin')">
        <a mat-list-item href="#" routerLink="/admin" routerLinkActive="active">Панель администратора</a>
        <mat-divider></mat-divider>
      </div>

      <div matTooltip="В разработке" matTooltipPosition="after">
        <a mat-list-item href="#" routerLink="/" routerLinkActive="active" class="not-active">Конкурсы</a>
        <mat-divider></mat-divider>
      </div>

      <div matTooltip="В разработке" matTooltipPosition="after">
        <a mat-list-item href="#" routerLink="/" routerLinkActive="active" class="not-active">Личный кабинет</a>
        <mat-divider></mat-divider>
      </div>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
