<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
        ЕАСИ
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
      <hr>
      <div>
        <h3 mat-subheader><mat-icon class="material-icons md-18">verified_user</mat-icon>Аутентификация</h3>
        <div *ngIf="!status">
          <a mat-list-item href="#" routerLink="/authentication/login" routerLinkActive="active">Войти</a>
          <a mat-list-item href="#" routerLink="/authentication/register" routerLinkActive="active">Зарегистрироваться</a>
        </div>
        <div *ngIf="status">
          <a mat-list-item href="#" routerLink="/" routerLinkActive="active" class="not-active">Настройки аккаунта</a>
          <a mat-list-item href="#" (click)="logout()" routerLinkActive="active">Выйти</a>
        </div>
        <hr>
      </div>

      <div>
        <h3 mat-subheader><mat-icon class="material-icons md-18">event</mat-icon>Расписание</h3>
        <a mat-list-item href="#" routerLink="/schedule" routerLinkActive="active">Домашняя</a>
        <a mat-list-item href="#" routerLink="/schedule/group" routerLinkActive="active">На неделю</a>
        <a mat-list-item href="#" routerLink="/schedule/groupDay" routerLinkActive="active">На день</a>
        <hr>
      </div>

      <div matTooltip="В разработке" matTooltipPosition="after">
        <h3 mat-subheader><mat-icon class="material-icons md-18">build</mat-icon>Contests</h3>
        <a mat-list-item href="#" routerLink="/" routerLinkActive="active" class="not-active">Конкурсы</a>
        <hr>
      </div>

      <div matTooltip="В разработке" matTooltipPosition="after">
        <h3 mat-subheader><mat-icon class="material-icons md-18">build</mat-icon>Personal Account</h3>
        <a mat-list-item href="#" routerLink="/" routerLinkActive="active" class="not-active">Личный кабинет</a>
        <hr>
      </div>

      <div *ngIf="isRoleMatch('student')">
        <h3 mat-subheader><mat-icon class="material-icons md-18">dashboard</mat-icon>Student Information</h3>
        <a mat-list-item href="#" routerLink="/dashboard" routerLinkActive="active">Информация о студенте</a>
        <hr>
      </div>

      <div *ngIf="isRoleMatch('api_access_admin')">
        <h3 mat-subheader><mat-icon class="material-icons md-18">dashboard</mat-icon>Admin Panel</h3>
        <a mat-list-item href="#" routerLink="/admin" routerLinkActive="active">Панель администратора</a>
        <hr>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
