mat-card {
  max-width: 95%;
  margin: 2em auto;
}

.full-width {
  width: 100%;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

table {
  width: 100%;
}

.mat-column-number {
  text-align: center;
  flex: 0 0 10%;
}

.mat-column-time {
  text-align: center;
  flex: 0 0 20%;
}

.mat-column-lessonName {
  flex: 0 0 70%;
}