<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scheduleGroup">На неделю</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scheduleGroupDay">На день</a>
      </li>
    </ul>
    <span class="navbar-text"  *ngIf="userGroup"> Ваша группа: {{userGroup}} </span>
  </div>
</nav> -->

<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <span>Расписание ЕАСИ</span>

    <button mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</button>
    <button mat-button routerLink="/scheduleGroup">На неделю</button>
    <button mat-button routerLink="/scheduleGroupDay">На день</button>
    
    <span class="fill-remaining-space"></span>

    <button mat-button routerLink="/scheduleGroup">Текущая неделя: {{currentWeek?.statusParity.split(" ")[0]}}</button> <!-- TODO: роутер на расписание чёт\нечёт недели -->

    <div *ngIf="userGroup">

      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>TODO: Расписание на сегодня</button>
        <button mat-menu-item>TODO: Изменить группу</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="appMenu" matTooltip="Операции"> Ваша группа: {{userGroup}} </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container"> 
  <br>
  <router-outlet></router-outlet>
</div>

