<mat-card>
  <mat-card-header>
    <mat-card-title>Регистрация</mat-card-title>
    <mat-card-subtitle>Пожалуйста заполните поля</mat-card-subtitle>
  </mat-card-header>

  <mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Заполните контактнаю информацию</ng-template>
        <div class="example-container">

            <mat-form-field>
              <input matInput placeholder="Почта" formControlName="Email" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Пароль</mat-label>
              <input matInput placeholder="Введите пароль, пароль должен быть больше 6 символов" formControlName="Password" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Имя" formControlName="FirstName" required>
            </mat-form-field>
  
            <mat-form-field>
                <input matInput placeholder="Фамилия" formControlName="LastName" required>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Номер телефона</mat-label>
              <input matInput placeholder="В формате: +79125324123" formControlName="Phone" required>
            </mat-form-field>
            
        </div>
      
        <div>
          <button mat-flat-button matStepperNext>Дальше</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Заполните студенческую информацию</ng-template>
        <div class="example-container">
          <mat-form-field>
            <mat-label>Номер группы</mat-label>
            <input matInput placeholder="Номер группы состоит из 3-х цифр. Например: 121"  formControlName="Group" required>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput placeholder="Номер зачётной книжки" formControlName="Gradebook" required>
          </mat-form-field>

          <p>
            <mat-checkbox formControlName="Headman">Вы староста?</mat-checkbox>
          </p>

        </div>
       
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-flat-button matStepperNext>Дальше</button>
        </div>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Отправка</ng-template>
      <p>Проверьте информацию:</p>
      <p>Почта: {{this.firstFormGroup.value.Email}}</p>
      <p>Имя: {{this.firstFormGroup.value.FirstName}}</p>
      <p>Фамилия: {{this.firstFormGroup.value.LastName}}</p>
      <p>Номер телефона: {{this.firstFormGroup.value.Phone}}</p>
      <p>Группа: {{this.secondFormGroup.value.Group}}</p>
      <p>Номер зачётной книжки: {{this.secondFormGroup.value.Gradebook}}</p>
      <p>Староста?: {{this.secondFormGroup.value.Headman}}</p>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-flat-button color="warn" (click)="done()">Отправить</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</mat-card>

<mat-card *ngIf="isRequesting">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>   
</mat-card>

<mat-card *ngIf="errors">
  <p>Ошибки на стороне сервера:</p>
  <div class="alert alert-danger" role="alert">
    <div *ngFor="let error of errors">
      {{error}}
    </div>
  </div>
</mat-card>
