<form #f="ngForm" autocomplete="off" novalidate (ngSubmit)="registerUser(f)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Регистриция</mat-card-title>
      <mat-card-subtitle>Пожалуйста заполните форму</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-form-field class="full-width">
          <mat-label>Имя</mat-label>
          <input matInput placeholder="Введите имя" id="first-name" name="firstName"  ngModel>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Фамилия</mat-label>
          <input matInput placeholder="Введите фамилию" id="last-name" name="lastName"  ngModel>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Группа</mat-label>
          <input matInput placeholder="Номер группы состоит из 3-х цифр. Например: 121" id="group" name="group"  ngModel>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Почта</mat-label>
          <input matInput placeholder="Введите корректную почту" id="email" name="email" validateEmail required ngModel #email="ngModel">
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Пароль</mat-label>
          <input matInput type="password" placeholder="Введите пароль, пароль должен быть больше 6 символов" id="password" name="password" required ngModel>
          <mat-hint></mat-hint>
        </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Зарегистрироваться</button>
    </mat-card-actions>

  </mat-card>
</form>

<mat-card *ngIf="isRequesting">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>   
</mat-card>

<mat-card *ngIf="errors">
  <p>Ошибки на стороне сервера:</p>
  <div class="alert alert-danger" role="alert">
    <div *ngFor="let error of errors">
      {{error}}
    </div>
  </div>
</mat-card>
