mat-card {
    max-width: 400px;
    margin: 2em auto;
}

.header-image {
    background-image: url('https://downloader.disk.yandex.ru/preview/4a34d13a587ca60f7551d719e52faef999025cd6f8b24906bc68dc531d488e0d/5b206903/p5HSS8397fjfEGt69ezpCtJL6Yw93uoM9PygGuG21tuYBMIof8mWWHNk31TLnwkWURUS95Goo_a62FwPbYyu5g%3D%3D?uid=0&filename=lpOUjBsKr4k.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&tknv=v2&size=2048x2048');
    background-size: cover;
}

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}