<mat-card class="mat-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Великолепный Михаил</mat-card-title>
    <mat-card-subtitle>Котофей</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://art.pixilart.com/c270e900a3a27dc.gif">
  <mat-card-content>
    <p>
        Скоро тут будет бомба! 
    </p>
  </mat-card-content>
  
  <mat-card-actions>
      <button mat-button (click)="testErrorToaster()">Error</button>
      <button mat-button (click)="testSuccessToaster()">Success</button>
      <button mat-button (click)="testInfoToaster()">Info</button>

  </mat-card-actions>
  
</mat-card>