<mat-toolbar color="primary">
  <span>Главная страница</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-card class="mat-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Михаил Кот</mat-card-title>
    <mat-card-subtitle>Котофей</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://downloader.disk.yandex.ru/preview/119c233766605d9a736b928884fbb2b47edabdfccecde91bf2b76376d5125a37/5b2068b5/p5HSS8397fjfEGt69ezpCjKHxb7P7qrqeABkp6acVQvKxn5OD3ULPqWGdRLDlN321ymaKOo-lO9XIvVWSE0i8A%3D%3D?uid=0&filename=1HblUacudhI.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&tknv=v2&size=2048x2048" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
        На данный момент реализовано только Аутентификация с помощью JWT и приложение Расписание
    </p>
  </mat-card-content>
</mat-card>