<mat-toolbar color="primary" class="main-header">

    <button mat-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>

    <span class="fill-remaining-space"></span>

    <div *ngIf="currentUser">        
        <button mat-raised-button color="accent" [matMenuTriggerFor]="userMenu">{{currentUser?.firstName}} {{currentUser?.lastName}}</button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/account/settings">Настройки</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">Выйти</button>
        </mat-menu>
    </div>

    <div *ngIf="!currentUser">
        <button mat-button routerLink="/account/login" routerLinkActive="active">Вход</button>
        <button mat-raised-button color="accent" routerLink="/account/register" routerLinkActive="active">Регистрация</button>
    </div>

</mat-toolbar>
