<mat-toolbar color="primary" class="main-header mat-elevation-z2">

    <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-name">ЕАСИ</h1>

    <span class="fill-remaining-space"></span>

    <div *ngIf="currentUser">        
        <button mat-raised-button color="accent" [matMenuTriggerFor]="userMenu">{{currentUser?.firstName}} {{currentUser?.lastName}}</button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/account/settings">
                <mat-icon>settings</mat-icon>
                <span>Настройки</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Выйти</span>
            </button>
        </mat-menu>
    </div>

    <div *ngIf="!currentUser">
        <button mat-button (click)='openLoginDialog()'>Вход</button>
        <button mat-raised-button color="accent" routerLink="/account/register" routerLinkActive="active">Регистрация</button>
    </div>

</mat-toolbar>
